.accom-wrapper
  .row
    .hotel-list.col.s5
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header Best Western Capilano
          .collapsible-body
            .row
              .col.s6
                p
                  a(href='http://www.bestwesterncapilano.com/') Website
              .col.s6
                p Mention Hunter/Sargent in the booking to recieve a group rate.
        li
          .collapsible-header Vancouver Comfort
          .collapsible-body
            .row
              p.col.s6
                a(href='http://www.vancouvercomfort.com') Website
              p.col.s6 Mention Hunter/Sargent in the booking to recieve a group rate.
    .col.s7              
      .map-wrapper
        iframe(src='https://www.google.com/maps/embed/v1/place?key=#{apiKey}&q=mid=z-pR172Ygogc.kksFyxnZbzFA',frameborder='0',allowfullscreen,style='border:0')
    .clear-fix
