.accom-wrapper
  .hotel-list
    ul.collapsible(data-collapsible='accordion')
      li
        .collapsible-header Hotel Name
        .collapsible-body
          p something something something
      li
        .collapsible-header Hotel Two
        .collapsible-body
          p something something something
      li
        .collapsible-header Hotel Three
        .collapsible-body
          p something something something
  .map-wrapper
    img.responsive-img(src='/images/map.png')
 