.invitation-wrapper
  img.title.responsive-img(src="images/jeffAndElla.png")
  p.subtitle are hoping you will join them on their special day.
  img.florish.responsive-img(src="images/divider.png")
  p.date August 13<sup>th</sup>, 2016 at 4pm
  p.pavillion At the Stanley Park Pavillion
  p.address 610 Pipeline Rd, Vancover, BC V6G 1Z4
  p.park Stanley Park
