extends header

block content
  .card-panel.picture
    img.responsive-img.logo(src='/images/logo.png')
    p #{apiKey}
  .card-panel.main.container
    .button-bar.row
      .col.s12
        ul.button-bar-list.tabs
          li.tab.col.s3#home
            a(href='#home-tab') Home
          li.tab.col.s3#accomodations
            a(href='#accomodations-tab') Accommodations
          li.tab.col.s3#registry
            a(href='#registry-tab') Registry
          li.tab.col.s3#rsvp
            a(href='#rsvp-tab') RSVP
          li.tab.col.s3.disabled#tourism
            a(href='#tourism-tab') Tourism
    #main-content
      #home-tab
        include ./home.partial.jade
      #accomodations-tab
        include ./accomodations.partial.jade
      #registry-tab
        include ./registry.partial.jade
      #rsvp-tab
        include ./rsvp.partial.jade
      #tourism-tab
        include ./tourism.partial.jade
