extends header

block content
  .card-panel.picture
    img.responsive-img.logo(src='/images/logo.png')
  .card-panel.main.container
    .button-bar
      ul.button-bar-list
        li.button-bar-item#home
          span Home
        li.button-bar-item#accomodations
          span Accomodations
        li.button-bar-item#registry
          span Registry
        li.button-bar-item#rsvp
          span RSVP
        li.button-bar-item#tourism
          span Tourism
    #main-content