extends header

block content
  .login
    .form-wrapper.valign-wrapper
      .card-panel
        img.responsive-img(src='/images/logo.png')
        form.login-form.valign(method='post', action='authentication')
          .input-field
            input.password(type='password', name='password')
            label(for='password') Password
          .input-field
            input.submit.btn.btn-mint(name='submit', type='submit', value='Login')
          if failed
            p.failed Sorry, that is incorrect
