<html>

<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.min.css">
</head>

<body>

	<div class="login">

		<div class="form-wrapper valign-wrapper">

			<div class="card-panel">
				<img class="responsive-img" src="/images/logo.png">
				<form class="login-form valign" method="post" action="authentication">

					<div class="input-field">
						<input type="password" class="password" name="password">
						<label for="password">Password</label>
					</div>

					<div class="input-field">
						<input type="submit" class="submit btn btn-mint" name="submit" value="Login">
					</div>

				</form><!-- form -->
			</div><!-- .card-panel -->
		</div><!-- .form-wrapper -->

	</div><!-- .login -->

	<!-- jQuery with fallback -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script>if (!window.jQuery) { document.write('<script src="/javascripts/plugins/jquery.min.js"><\\/script>'); }</script>

	<!-- Materialize with fallback -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<script>$.fn.materialbox || document.write('<script src="/javascripts/plugins/materialize.min.js"><\\/script>')</script>

	<script src="/javascripts/main.js"></script>

</body>

</html>
