<html>

<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">


	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>

<body>

	<div class="login">

		<div class="form-wrapper valign-wrapper">

			<div class="card-panel">
				<img class="responsive-img" src="/images/logo.png">
				<form class="login-form valign" method="post" action="authentication">

					<div class="input-field">
						<input type="password" class="password" name="password">
						<label for="password">Password</label>
					</div>

					<div class="input-field">
						<input type="submit" class="submit btn" name="submit" value="Login">
					</div>

				</form><!-- form -->
			</div><!-- .card-panel -->
		</div><!-- .form-wrapper -->

	</div><!-- .login -->

</body>

</html>