.registry-list
  p We're registered at Bed Bath and Beyond Canada and Moutain Equipment Co-op (Canadian REI!)
    .row
      .col.s6
        .card.hover
          .card-image
            a(href='http://www.bedbathandbeyond.ca/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542808050&pwsurl=', target="_blank")
              img(src='/images/bathbeyond.png')
      .col.s6
        .card.hover
          .card-image
            a(href='http://www.mec.ca/Apps/wishList/wishlist_items.jsp?MEC_WISHLIST_HDR%3C%3EID=353714&MEC_WISHLIST_HDR%3C%3EFNAME=ELLA&MEC_WISHLIST_HDR%3C%3ELNAME=SARGENT&MEC_WISHLIST_HDR%3C%3ELOCATION=&MEC_WISHLIST_HDR%3C%3EOCCASION=Wedding+Aug+13+2016&MEC_WISHLIST_HDR%3C%3EPUBLIC_LIST=Y&MEC_WISHLIST_HDR%3C%3ECREATEDATE=S2016-01-17*23-31-08.000&MEC_WISHLIST_HDR%3C%3EMODIFIEDDATE=S2016-01-17*23-40-41.000&bmForm=wishlist_find_results&bmFormID=l8YYHPB&bmSubmit=show&bmHash=6d5e1a17d1ce4be7be4ace07d2cfa20d6f81dace', target="_blank")
              img(src='/images/mountain-equipment-co-op_kara.png')
    