.radio-wrapper
  .regret-input-child
    input.regrets(type='radio', name='rsvp-radio', id='regrets')
    label(for='regrets') I'm sorry, I can't make it!
  .regret-input-child
    input.regrets(type='radio', name='rsvp-radio', id='coming')
    label(for='coming') I can't wait to see you two!
  #rsvp-anchor

