.row.rsvp.radio
  .col.s2.push-s2
    button#coming.btn-mint.waves-effect.waves-light(onclick='RSVPBindings(this)') Coming!
  .col.s2.push-s6
    button#regrets.btn-mint.waves-effect.waves-light(onclick='RSVPBindings(this)') Regrets!
#rsvp-anchor

