extends layout.jade

block content
  .grid-pad
    .row
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
    .row
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1
      .col-1