.tourism-wrapper
  p While you're in town, here are a few of our favourite things to do!
  .tourism-list
    ul.collapsible.popout(data-collapsible='accordion')
      li
        .collapsible-header Vancouver Aquarium
        .collapsible-body
          .row
            .col.s4
              a(href='http://www.vanaqua.org/', target='_blank')
                img.responsive-img.aqua(src='/images/vancouver_aqua_logo.jpeg')
            .col.s6
              p The Vancouver Aquarium is a non-profit society dedicated to the conservation of aquatic life.
      li
        .collapsible-header Lighthouse Park in West Vancouver
        .collapsible-body
          .row
            .col.s4
              a(href='http://www.lighthousepark.ca/', target='_blank')
                img.responsive-img(src='/images/lighthouse.jpg')
            .col.s6
              p One of our favorte places to take a stroll! Lighthouse Park located in West Vancouver British Columbia is one of the most amazing scenic parks you will see on the West Coast. Walk through acres of first-growth douglas firs and stand next to trees that are considered to be giants.
      li
        .collapsible-header Museum of Anthropology
        .collapsible-body
          .row
            .col.s4
              a(href='http://moa.ubc.ca/', target='_blank')
                img.responsive-img(src='/images/MOA_Profile_Google_500.png')
            .col.s6
              p The Museum of Anthropology at the University of British Columbia campus in Vancouver, British Columbia, Canada is renowned for its displays of world arts and cultures, in particular works by First Nation band governments of the Pacific Northwest.
      li
        .collapsible-header Seawall in Vancouver
        .collapsible-body
          .row
            .col.s4
              a(href='http://vancouver.ca/parks-recreation-culture/seawall.aspx', target='_blank')
                img.responsive-img(src='/images/seawallbikes.jpg')
            .col.s6
              p We love to ride our bikes or walk up and down the Seawall. It's the world's longest uninterrupted waterfront path.