.tourism-wrapper
  p While you're in town, here are a few of our favourite things to do!
  .tourism-list
    ul.collapsible.popout(data-collapsible='accordion')
      li
        .collapsible-header Vancouver Aquarium
        .collapsible-body
          .row
            .col.s4
              a(href='http://www.vanaqua.org/', target='_blank')
                img.responsive-img.aqua(src='/images/vancouver_aqua_logo.jpeg')
            .col.s6
              p The Vancouver Aquarium is a non-profit society dedicated to the conservation of aquatic life.
      li
        .collapsible-header Lighthouse Park in West Vancouver
        .collapsible-body
          .row
            .col.s4
              a(href='http://www.lighthousepark.ca/', target='_blank')
                img.responsive-img(src='/images/lighthouse.jpg')
            .col.s6
              p One of our favorte places to take a stroll! Lighthouse Park located in West Vancouver British Columbia is one of the most amazing scenic parks you will see on the West Coast. Walk through acres of first-growth douglas firs and stand next to trees that are considered to be giants.
      
