.tourism-wrapper
  p While you're in town, here are a few of our favourite things to do!
  .tourism-list
    ul.collapsible.popout(data-collapsible='accordion')
      each tour in tourism
        li
          .collapsible-header= tour.title
          .collapsible-body
            .row
              .col.s4
                .hover.force-circle.card
                  .card-image.tourism-card
                    a(href='#{tour.link}', target='_blank')
                      img.force-circle.responsive-img.valign(src='#{tour.img}')
              .col.s6
                p= tour.blurb
