a {
    display:block;
}

.waiting {
    display: none;
}

.waiting.selected {
    display: inherit;
}
.registry {
    background-color :#97E7CA;
}
.hotels {
    background-color : #FE7E39;
}
.songs {
    background-color : #B6B2B3;
}
.submit {
    margin: 0 auto;
    width : 500px;
    display: block;
}

.main-content {
    display: block;
}

.content {
    position: relative;
}

input {
    display:block;
}

.sidebar {
    padding: 1em;
    border: 8px solid darkred;
    background:#3d594b;
    float: right;
}

.title {
    margin: 0px;
}
input.submit, .center {
    text-align:center;
    width:50%;
    margin: 0px auto;
}
