p We're so happy you can make it! Please list below everyone who can attend the wedding.
#input-list
  input.coming-name(type='text', oninput='guestInputChangeHandler(this)')
button.rsvp-submit-button.btn-mint.coming-btn.waves-effect.waves-light(onclick='rsvpClick(this)') RSVP