p We're sorry you can't make it! Please let us know who all can't make it, and feel free to send us a message. 
input#regret-message(type='text', placeholder='Message')
#input-list
  input.dynamic-input(type='text', oninput='guestInputChangeHandler(this)', placeholder='First Last')
button.rsvp-submit-button.btn-mint.regrets-btn.waves-effect.waves-light(onclick='regretClick()') Send