p We're sorry you can't make it! Feel free to send us a little message below, and we hope to see you soon!
input.regret-message#regret-message(type='text')
button.rsvp-submit-button.btn-mint.regrets-btn.waves-effect.waves-light(onclick='regretClick()') Send