.form-wrapper {
	height: 100vh;
	text-align: center;
}
.login-form {
	width: 50%;
	min-width: 250px;
	margin: auto;
}

.login img {
	width: 10%;
}

.failed {
    text-align: center;
    color: red;
}

.content {
  div {
    margin: auto;
  }
  .card-panel.picture {
     margin: 45px 0;
    text-align:center;
  }

  .logo{ 
    width: 25%;
  }
}

li.button-bar-item { 
    display : block;
    float:left;
    width : 20%;
    text-align : center;
}

// Example of extending materialize classes
.btn-mint {
	@extend .btn;

  background-color: $mint;

  &:hover {
    background-color: lighten($mint, 5%);
    @extend .z-depth-1-half;
  }
}
