// Defining some basic colorings to override materialize defaults

/*** Colors ***/
$primary-color: #97E7CA;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: #FE7E39;

$mint: $primary-color;
$orange: $secondary-color;

// Overriding color defaults

// tabs
$tabs-text-color: $orange;
$tabs-underline-color: lighten($orange, 20%);

// radio button
$radio-fill-color: $orange;